p {
    font-family:Arial;
    margin-bottom: 0in;
    widows: 2; 
    orphans: 2;
    color: #000000;
    font-size: 10pt;
}
p.heading {
    font-size: 19pt;
}
p.subHeading {
    font-size: 14pt;
}
p.normal {
    font-size: 10pt;
    color: #595959;
}
td.border {
    border: 1px solid #000000;
}